.group{

}
.form-input{
    padding: 10px;
    border-radius: 10px;
    background-color:white;
    border:none;
}

.form-input:focus{
    outline: none;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}